non-nix/dotfiles/.vscode/extensions
non-nix/dotfiles/.config/fontconfig/conf.d/52-hm-default-fonts.conf
non-nix/dotfiles/.config/fontconfig/conf.d/10-hm-fonts.conf
non-nix/dotfiles/.config/hypr/hyprland.conf
non-nix/dotfiles/.ssh/
non-nix/dotfiles/.config/rclone.conf
non-nix/dotfiles/.config/hypr/wallpaper_effects/.wallpaper_current
non-nix/dotfiles/.config/rofi/.current_wallpaper
non-nix/dotfiles/.config/nvim/lazy-lock.json
non-nix/dotfiles/.config/nvim/init.lua
# The following file is now managed by nix
non-nix/dotfiles/.config/yazi/theme.toml
non-nix/dotfiles/.config/rofi/config.rasi
non-nix/dotfiles/.config/yazi/theme.toml
